html, body {
	margin: 0;
}

h1,
h2,
a {
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
}

p {
	font-family: Helvetica, Arial, sans-serif;
}

.container {
	width: 940px;
	margin: 0 auto;
}

/* Main */
.main {
	background: url(https://s3.amazonaws.com/codecademy-content/projects/move/bg.jpg) no-repeat center center fixed;
	height: 600px;
	text-align: center;
}

.main .container {
	position: relative;
	top: 100px;
}

.main h1 {
	color: #FFF;
	font-size: 150px;
	margin:auto;
}

.main p {
	color: #FFF;
	font-size: 18px;
	margin: 0 0 20px 0;
}

.main .btn {
	background-color: #1C1C1C;
	color: #FFF;
	font-size: 18px;
	padding: 8px 30px;
	text-decoration: none;
}

.main .btn:hover {
	cursor: pointer;
	background-color: orange;
	color: #000;
	transition: inset .5s;
}

/* Supporting */
.supporting {
	background: #1C1C1C;
	text-align: center;
	padding: 50px 0 80px;
}

.supporting .col {
	float: left;
	width: 28%;
	padding: 10px;
}

.supporting h1,
.supporting h2 {
	color: #FFA800;
	font-size: 20px;
	margin-bottom: 10px;
}

.clearfix {
	clear: both;
}

.supporting p {
	color: #EFEFEF;
	margin-bottom: 20px;
	line-height: 20px;
	font-size: 12px;
}

.supporting .btn {
	background-color: #FFF;
	color: #1C1C1C;
	font-size: 18px;
	padding: 8px 30px;
	text-decoration: none;
	display: inline-block;
}

.supporting .btn:hover {
	cursor: pointer;
	background-color: orange;
	transition: inset .5s;
}

/* Feature */
.feature {
	background: url(http://s3.amazonaws.com/codecademy-content/projects/move/feature.jpg) no-repeat center center fixed;
	background-size: cover;
	height: 600px;
	text-align: center;
}

.feature .container {
	position: relative;
	top: 200px;
}

.feature h2 {
	color: #FFF;
	font-size: 40px;
	margin: 0;
}

/* Footer */
.footer {
	background: url(http://s3.amazonaws.com/codecademy-content/projects/move/footer.jpg) no-repeat center center fixed;
	background-size: cover;
	height: 600px;
	text-align: center;
}

.footer .container {
	position: relative;
	top: 200px;
}

.footer h1,
.footer h2 {
	color: #FFF;
	font-size: 40px;
	margin: 0 0 20px 0;
	padding: 50px 0 10px;
}

.footer p {
	color: #FFF;
	margin: 0 0 20px 0;
	font-size: 18px;
}

.footer .btn {
	background-color: #1C1C1C;
	color: #FFF;
	font-size: 18px;
	padding: 8px 30px;
	text-decoration: none;
}

.footer .btn:hover {
	cursor: pointer;
	background-color: orange;
	color: #000;
	transition: inset .5s;
}

/* Media Querie */
@media (min-width: 600px) {
	.main h1 {
		font-size: 200px;
	}

	.supporting .col {
		width: 30%;
	}

	.supporting h2 {
		font-size: 40px;
	}

	.supporting p {
		font-size: 14px;
	}

	.feature h2 {
		font-size: 60px;
	}
}